html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.demo-app-image{
    width: 100%;
}

    .demo-app-image img {
        width: 100px;
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .winner img{
        width:200px;
    }

    .winner h1{
        padding-bottom:30px;
    }

    .container-index{
        margin-top:100px;
    }

.configurations table,
.secret table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.configurations thead tr,
.secret thead tr {
    background-color: #05A1E4;
    color: #ffffff;
    text-align: left;
}

.configurations th,
.secret th,
.configurations td,
.secret td {
    padding: 12px 15px;
}

.configurations tbody tr, .secret tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .configurations tbody tr:nth-of-type(even), .secret tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .configurations tbody tr:last-of-type, .secret tbody tr:last-of-type {
        border-bottom: 2px solid #05A1E4;
    }

.secret, .configurations{
    margin-top:50px;
}
