@page
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-index">


    <feature name="DemoApp-WK">

        <div class="winner">
            <h1>Winner:</h1>
            <feature name="DemoApp-WK-Winner">
                <img src="~/img/@Configuration["DemoApp:WK:Winner"]" />
            </feature>
        </div>
        <div class="demo-app-image">
            <img src="~/img/wk.png" />
        </div>
    </feature>
</div>